@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Lato:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Lato', sans-serif;
}
/* -----------------------MAIN NAVIGATION BAR------------------------------- */
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px #999;
    color: grey;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 5;  
}
nav{
    display: flex;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;  
}
nav ul li{
    cursor: pointer;
    padding:10px;
    margin: 0px 10px;
}
nav ul li a, label >a{
    position: relative;
    text-decoration: none;
    color: grey;
    font-weight: 600;
    font-size: 14px;
}
nav ul li a::before{
    position: absolute;
    border-top: 2px solid rgb(78, 20, 20);
    text-decoration: none !important;
    content: "";
    height: 0%;
    width: 0%;
    transition: 0.2s linear;   
}
nav ul li a:hover::before{
    height: 100%;
    width: 100%;
}
nav ul li a:hover, label >a:hover{
    text-decoration: none;
    color:rgb(78, 20, 20);
}
label{
    padding: 18px 20px;
    text-transform: capitalize;
}
label a{
    font-size: 20px;
    
}

span{
   display: flex;
   justify-content: flex-end;
   padding: 10px 15px;
   font-size: 20px;
   display: none;
   cursor: pointer;
}
/* --------------------------CAROUSEL----------------------------------------*/
.carousel .slide {
    height: 85vh;
    width: 100%;
}
.carousel-item img{
    height: 85vh;
 background-color: burlywood;
}
/* ----------------------------NEW ARRIVAL CONTAINER ------------------------ */
.new-arrival-con h4{
padding: 30px;
text-align: center;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
}

.new-arrival-img-con{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* Hover and overlay settings */
.new-arrival{
    position: relative;
    width: 340px;
    height: 340px;
    margin: 30px 10px;
    box-shadow: 2px 2px 2px rgb(201, 196, 196);
}
.new-arrival > img{ 
    display: block;
  width: 340px;
  height: 340px;
}

.new-arrival .overlay{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(15, 15, 15, 0.7);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition:all .5s ease;
    
}
.new-arrival .overlay p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: black; */
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    border-top:1px solid white ;
    cursor: pointer;
    
}
/* .overlay-left{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;  
} */
.new-arrival:hover .overlay{
    height: 100%;
    opacity: 0.9;
}
.new-arrival-price h6{
    text-align: center;
    margin: 10px 20px;
}

/*---------------------------------SHOP PAGE-----------------------------------*/
.showcase{
    height: 60vh;
    /* background-image: url(images/pexels-steve-johnson-2182727.jpg); */
    background-image: url(images/pexels-castorly-stock-3829448.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.product-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.product{
   padding: 10px;
   border-bottom: 1px solid rgb(172, 171, 171);
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
  
}
.product > a{
    text-decoration: none;
    color: rgb(104, 100, 100);
    padding: 5px 20px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
    
}
.product > a:hover{
    border: 1px solid rgb(59, 57, 57);
    background-color: rgba(0, 0, 0,0.8);
    color: rgb(255, 255, 255);
}
.product > img{
    transition: 0.5s ease-in;
}
.product > img:hover{
    transform: scale(0.9);
}
/* ----------------------SHIPPING SECTION (HOME PAGE)--------------------------*/
.shipping-con{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    background-color: rgb(201, 34, 34);
    color: white;
    padding: 35px;
    margin-top: 50px;
}
.shipping-con >div i {
    font-size: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.shipping-con div h5{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.shipping-con div p{
    margin-top: 30px;
}
/* -----------------------GALLERY SECTION (HOME PAGE)--------------------------- */
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    margin-top: 60px;
    overflow: hidden;
}
.gallery > div{
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
    background-position: center;
}
.g1{
    grid-column: 1/4;
    background-image: url('images/123.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.g4{
grid-column: 2/5;
background-image: url('images/pexels-killian-o\'neill-1179101.jpg');
}
.g2{
    background-image: url('images/1234.jpg');
}
.g3{
    background-image: url('images/pexels-jonathan-petersson-404181.jpg');
}

/* -----------------------SINGLE PRODUCT DETAIL PAGE----------------------------------*/
.single-product-con{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.product-img img{
    width: 400px;
    height: auto;
}
.product-details{
    padding: 10px 30px;
    
}
.product-details h4{
    font-weight: 400;
    letter-spacing: 0.2em;
}

.product-details table {
    border-collapse: collapse;
    width: 450px;
  }
  td, th {
    border-bottom: 1px solid #838383;
    text-align: center;
    padding: 5px;
  }
  tr:nth-of-type(odd) { 
	background: rgb(226, 225, 225); 
	}
label{
        font-size: 18px;
    }
.quantity-btn{
        width: 60px;
        padding: 5px 10px;
        border: 1px solid grey;
        border-radius: 25px;
    }
    .new-arrival-width{
width: 80%;
margin: auto;
    }
    .new-arrival-width .new-arrival{
        width: 280px;
        height: 280px;
    }
    .new-arrival-width .new-arrival > img{ 
      width: 280px;
      height: 280px;
    }
    .new-arrival-width .new-arrival .overlay p{
        font-size: 15px;
    }
  /*---------------------SCROLL UP BTN-----------------------------------*/
  .scroll-up {
    position: fixed;
    top:90vh; 
    right: 25px;
    background-color: rgb(145, 33, 33);
    border-radius: 50%;
    margin: auto;
    padding: 8px 15px;
    z-index: 2;
}
.scroll-up i{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
/*--------------------------CONTACT FORM-------------------------------------*/
.contact-form{
    width: 50%;
    margin: auto;
}
.contact-form h3{
   text-align: center;
   color: rgb(65, 62, 62);
   margin: 25px 10px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
}
.contact-form label{
    color: rgb(65, 62, 62);
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
  } 
  input[type=submit] {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: rgb(65, 62, 62);
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white ;
    transition: background-color 0.2s ease-in-out;
    
  }
  input[type=submit]:hover {
    border: 1px solid rgb(59, 57, 57);
    background-color: rgba(0, 0, 0,0.8);
    color: rgb(255, 255, 255);
  }

  .contact-details-con{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      margin: auto;
      padding: 5px;
      align-content: center;
      margin-top: 50px;
  }
 .contact-detail{
      min-width: 300px;
      margin: auto;
      height: 250px;
     padding: 20px 40px;
     margin: 5px;
     border: 1px solid rgb(204, 203, 203);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-self: center;  
  }
  .contact-detail h4, .contact-detail p{
    justify-content: center;
    align-self: center; 
  }
  /*---------------------------------------FOOTER---------------------------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
footer > div{
    width: 20%;
    padding: 20px;
}
.btm-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px;   
}
.btm-footer .sm-icons ul{
    display: flex;
    list-style: none;  
}
.btm-footer .sm-icons ul li i{
    margin-left: 20px;
    font-size: 20px;
    color: rgb(65, 62, 62);
}
.btm-footer .sm-icons ul li i:hover{
    cursor: pointer;
    color: black;
}

/* -------------------------MEDIA QUERIES-------------------------------------- */
  
@media only screen and (max-width: 1200px) {
    .carousel .slide {
        height: 50vh;
        width: 100%;
    }
    .carousel-item img{
        height: 50vh;
     background-color: burlywood;
    }
    .single-product-con{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .product-img img{
        width: 100%;
        height: auto;
    }
    .product-details{
        padding: 10px 10px;
        width: 50%;
        
    }
    .product-details table {
        border-collapse: collapse;
        width: 100%;
      }
footer > div{
    width: 40%;
    padding: 20px;
}
}

  @media only screen and (max-width: 700px) {
    .carousel .slide {
        height: 35vh;
        width: 100%;
    }
    .carousel-item img{
        height: 35vh;
     background-color: burlywood;
    }
    .new-arrival{
        width: 260px;
        height: 260px;
        margin-top: 10px;
    }
    .new-arrival .overlay p{
        font-size: 15px;
    }
    .new-arrival > img{ 
        width: 260px;
        height: 260px;
    }
    .new-arrival-con h4{
        padding: 20px;
        font-size: 18px;
        }
    .gallery > div{
        height: 300px;
    }
    .shipping-con >div i {
        font-size: 25px;
    }
    .shipping-con div h5{
       font-size: 18px;
    }
    .contact-form{
        width: 75%;
        margin: auto;
    }
    footer > div{
        width: 80%;
        margin: auto;
    }
    footer h4{
        font-size: 18px;
    }
    span{
        display: block;
     }
     #menu {
         display: none;
         margin-top: 50px;
     }
     #lg-menu{
        display: none;  
     }
     .contact-detail{
        min-width: 100%;
    }
    .product-container .product{
        width: 280px;
       
     }
     .single-product-con{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .product-img img{
        width: 280px;

        height: auto;
    }
    .product-details{
        padding: 10px 10px;
        width: 100%;
        
    }
    .product-details table {
        border-collapse: collapse;
        width: 100%;
      }
      .showcase{
          height: 30vh;
      }
  }
 


